{# TODO: Add translations #}

{% if app.request.headers.get('X-Exceed-RenderToolbar') != 'no' %}
    {% set locale = ezpublish.configResolver.parameter('RegionalSettings.ContentObjectLocale', 'site.ini') %}

    {% if '@' in locale %}
        {% set locale = locale|split('@')[0] %}
    {% endif %}
    {% if pencil.page.field and pencil.content.canedit %}
        {% set canedit = true %}
    {% else %}
        {% set canedit = false %}
    {% endif %}
    {% if canedit or pencil.entities %}
        <div class="eze">
            <div class="eze-pencil eze-block-pencil kp-edit-block invisible">
                <div class="kp-edit-block-box">
                    <ul class="kp-edit-block-elements">
                        {% if canedit %}
                            {% if pencil.page.block %}
                                {% set manualAddingOfItems = ezpublish.configResolver.parameter(pencil.page.block.type ~ '.ManualAddingOfItems', 'block.ini') %}
                                {% if manualAddingOfItems == 'enabled' %}
                                    <li class="add">
                                        <a class="item"
                                            data-object-id="{{ pencil.content.id }}"
                                            data-zone-index="{{ pencil.page.zone.index }}"
                                            data-block-id="{{ pencil.page.block.id }}"
                                            data-language="{{ locale }}"
                                            data-block-name="{{ pencil.page.block.name }}"
                                        >
                                            <img src="{{ asset('extension/ezexceed/design/ezexceed/images/kp/16x16/Add-page.png') }}" class="icon-16" alt/>
                                            <strong>Add</strong> content to “{{ pencil.page.block.name ?: pencil.page.block.type }}”
                                        </a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <span>{{ pencil.title }}</span>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% for entity in pencil.entities %}
                            {% if entity.separator %}
                                <li class="separator">{{ entity.title }}</li>
                            {% else %}
                                <li data-id="{{ entity.id }}" class="eze-node">
                                    <a class="kp-edit-node item"
                                        data-object-id="{{ entity.id }}"
                                        data-language="{{ locale }}"
                                        data-class-identifier="{{ entity.classIdentifier }}"
                                    >
                                        <img src="{{ asset('extension/ezexceed/design/ezexceed/images/kp/16x16/white/Edit.png') }}" class="icon-16" alt/>
                                        <strong>Edit</strong> “{{ entity.name }}”
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if pencil.page.block and canedit %}
                            <li class="edit">
                                <a class="item"
                                    data-object-id="{{ pencil.content.id }}"
                                    data-zone-index="{{ pencil.page.zone.index }}"
                                    data-block-id="{{ pencil.page.block.id }}"
                                    data-language="{{ locale }}"
                                    data-block-name="{{ pencil.page.block.name }}"
                                >
                                    <img src="{{ asset('extension/ezexceed/design/ezexceed/images/kp/16x16/white/Settings.png') }}" class="icon-16" alt/>
                                    <strong>Settings</strong> for “{{ pencil.page.block.name ?: pencil.page.block.type }}”
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
